.btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid gray 2px;
    border-radius: 50%;
    cursor: pointer;
}
#white{
 background-color: white;
}
#aqua{
 background-color: aqua;
}
#violet{
 background-color: violet;
}
#black{
    background-color: black;
}
#orange{
    background-color: #e28743;
}
#color-switcher{
    text-align: right;
}
